 /* Card Button */
 .card-button {
    background-color: #222;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .card-button:hover {
    background-color: #ffd700;
    color: #222;
  }